.project-page-content {
  padding: 0px 80px;
  width: 100vw;
  // border: 1px solid green;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.project-page-title-content {
  font-size: 20px;
  margin: 0px;
  padding: 15px 60px;
  background-color: #ffd700;
  color: white;
  display: inline-block;
  border-radius: 10px;
}
.project-info-content {
  font-size: 15px;
  margin: 0px;
  padding: 20px;
  color: white;
}
.card-body-wrapper p,
h5 {
  border-radius: 10px;
  background-color: #195173;
  width: 100%;
  padding: 10px;
  // color: #ffd700;
  color: white;
}

.pagination {
  margin: 100px 0px;
  font-size: 15px;
}
.card-text {
  font-size: 15px;
}

.card-wrapper {
  border: none;
}
.card-wrapper img {
  border-radius: 10px;
  object-fit: cover;
}
.card-img-wrapper {
  height: 350px;
  width: 100%;
}
.projects-wrapper {
  min-height: 100vh;
}

@media (max-width: 500px) {
  .card-img-wrapper {
    height: 200px;
  }
}

@media (max-width: 350px) {
  .card-img-wrapper {
    height: 150px;
  }
  .project-page-title-content {
    padding: 10px;
  }
}
